{% extends 'layouts/default.html' %}
{% block body %}
   {% block container_page %}
       <h1>Backtest</h1>
       
	<p>
	
    <div class="card">
                            <div class="header">
                                <h4 class="title">CAC40</h4>
                                <p class="category">liste des activitées:</p>
                            </div>
                            <div class="content">
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                   
                                    <tbody>
                                        
                                          {% for positions in posts %}
                                            <tr><td>{{ positions }}</td><tr/>
                                          {% endfor %}
                                         
                                        
                                    </tbody>
                                </table>

                            </div>
                            
                            </div>
                                <div class="footer">
                                    <div class="chart-legend">
                                        <i class="fa fa-circle text-info"></i> Open
                                        <i class="fa fa-circle text-danger"></i> Click
                                        <i class="fa fa-circle text-warning"></i> Click Second Time
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-reload"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
       

	</p>

  {% endblock container_page %}
{% endblock %}