{% extends 'layouts/default.html' %}
{% block body %}
   {% block container_page %}
       <h1>bienvenue sur la page portfeuille</h1>
       <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">"test recup data from db script strategy"  {{profit}}</h4>
                                </br><p class="category"> </p>

                            </div>
                             <div class="dropdown">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                    Ajouter une action
                    <br>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#paper">cac40</a></li>
                    <li><a href="#paper">axa</a></li>
                    <li><a href="#paper">bnp</a></li>
                    <li class="divider"></li>
                    <li><a href="#paper">total</a></li>
                    <li class="divider"></li>
                    <li><a href="#paper">vivendi</a></li>
                </ul>
                </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                        <tr><th>Nom</th>
                                    	<th>Prix d'achat</th>
                                    	<th>Cours actuel</th>
                                    	<th>Prix de vente </th>
                                        <th>Nombre d'action</th>
                                    	<th>Plus value/Moins value</th>
                                    </tr></thead>
                                    <tbody>
                                        <tr>
                                        	<td>VIVENDI</td>
                                        	<td>{{datachat}}</td>
                                        	<td>36,738€</td>
                                        	<td>37,2</td>
                                        	<td>1000</td>
                                            <td>4236€</td>
                                        </tr>
                                        <tr>
                                        	<td>2</td>
                                        	<td>Minerva Hooper</td>
                                        	<td>$23,789</td>
                                        	<td>Curaçao</td>
                                        	<td>Sinaai-Waas</td>
                                        </tr>
                                        <tr>
                                        	<td>3</td>
                                        	<td>Sage Rodriguez</td>
                                        	<td>$56,142</td>
                                        	<td>Netherlands</td>
                                        	<td>Baileux</td>
                                        </tr>
                                        <tr>
                                        	<td>4</td>
                                        	<td>Philip Chaney</td>
                                        	<td>$38,735</td>
                                        	<td>Korea, South</td>
                                        	<td>Overland Park</td>
                                        </tr>
                                        <tr>
                                        	<td>5</td>
                                        	<td>Doris Greene</td>
                                        	<td>$63,542</td>
                                        	<td>Malawi</td>
                                        	<td>Feldkirchen in Kärnten</td>
                                        </tr>
                                        <tr>
                                        	<td>6</td>
                                        	<td>Mason Porter</td>
                                        	<td>$78,615</td>
                                        	<td>Chile</td>
                                        	<td>Gloucester</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>







                </div>
            </div>
  {% endblock container_page %}
{% endblock %}