{% extends 'layouts/default.html' %}
{% block body %}
    {% block container_page %}
        <h1>Créez vos stratégies</h1>
        <br>
        <ul>
            <li>1. Choissisez votre action</li>

            <div class="dropdown">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                    liste des actions
                    <br>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#paper">cac40</a></li>
                    <li><a href="#paper">axa</a></li>
                    <li><a href="#paper">bnp</a></li>
                    <li class="divider"></li>
                    <li><a href="#paper">total</a></li>
                    <li class="divider"></li>
                    <li><a href="#paper">vivendi</a></li>
                </ul>
            </div>


            <br>

            <li>2.choissez vos indicateurs</li>
            <div class="dropdown">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                    indicateurs
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#paper">moyenne mobile</a></li>
                    <li><a href="#paper">rsi</a></li>
                    <li><a href="#paper">macd</a></li>
                    <li class="divider"></li>
                    <li><a href="#paper">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#paper">One more separated link</a></li>
                </ul>
            </div>
            <br>
            <li>2. donnez un nom à votre stratégie </li>
            <div class="form-group">

                <input type="text" value="" placeholder="Input" class="form-control" />
                <button class="btn btn-success">Executer</button>
            </div>
        </ul>

    {% endblock container_page %}
{% endblock %}