{% extends 'layouts/default.html' %}
{% block body %}
    {% block container_page %}
        <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                          <h2>Créez vos stratégies</h2>
        <br>
        <ul>
            <li>1. Choissisez votre action</li>

            <div class="dropdown">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                    liste des actions
                    <br>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#paper">cac40</a></li>
                    <li><a href="#paper">axa</a></li>
                    <li><a href="#paper">bnp</a></li>
                    <li class="divider"></li>
                    <li><a href="#paper">total</a></li>
                    <li class="divider"></li>
                    <li><a href="#paper">vivendi</a></li>
                </ul>
            </div>
            <br>
            <li>2.1 date de début </li>
            <div class="form-group">

                <input type="text" value="" placeholder="Input" class="form-control" />
                <button class="btn btn-success">Executer</button>
            </div>
            <br>
            <li> 2.2 date de fin </li>
            <div class="form-group">

                <input type="text" value="" placeholder="Input" class="form-control" />
                <button class="btn btn-success">Executer</button>
            </div>


            <br>

            <li>3.choissez vos indicateurs</li>
            <div class="dropdown">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                    indicateurs
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="id1">accdecoscillator</a></li>
                    <li><a href="#paper">aroon</a></li>
                    <li><a href="#paper">atr</a></li>
                    <li><a href="#paper">awesomeoscillator</a></li>
                    <li><a href="#paper">basicops</a></li>
                    <li><a href="#paper">bollinger</a></li>
                    <li><a href="#paper">cci</a></li>
                    <li><a href="#paper">crossover</a></li>
                    <li><a href="#paper">dema</a></li>
                    <li><a href="#paper">deviation</a></li>
                    <li><a href="#paper">directionalmove</a></li>
                    <li><a href="#paper">dma</a></li>
                    <li><a href="#paper">dpo</a></li>
                    <li><a href="#paper">dv2</a></li>
                    <li><a href="#paper">ema</a></li>
                    <li><a href="#paper">envelope</a></li>
                    <li><a href="#paper">hadelta</a></li>
                    <li><a href="#paper">heikinashi</a></li>
                    <li><a href="#paper">hma</a></li>
                    <li><a href="#paper">hurst</a></li>
                    <li><a href="#paper">ichimoku</a></li>
                    <li><a href="#paper">kama</a></li>
                    <li><a href="#paper">kst</a></li>
                    <li><a href="#paper">lrsi</a></li>

                    <li class="divider"></li>
                    <li><a href="#paper">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#paper">One more separated link</a></li>
                </ul>
            </div>
            <br>
            <li>4. donnez un nom à votre stratégie </li>
            <div class="form-group">

                <input type="text" value="" placeholder="Input" class="form-control" />
                <button class="btn btn-success">Executer</button>
            </div>
        </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card ">
                           <h2>Testez notre algorhithme</h2>
        <br>
        <ul>
            <li>. Choissisez votre action</li>

            <div class="dropdown">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                    liste des actions
                    <br>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#paper">cac40</a></li>
                    <li><a href="#paper">axa</a></li>
                    <li><a href="#paper">bnp</a></li>
                    <li class="divider"></li>
                    <li><a href="#paper">total</a></li>
                    <li class="divider"></li>
                    <li><a href="#paper">vivendi</a></li>
                </ul>
            </div>


            <br>


            <div class="form-group">

                <input type="text" value="" placeholder="Input" class="form-control" />
                <button class="btn btn-success">Executer</button>
            </div>
        </ul>
                        </div>
                    </div>
                </div>


    {% endblock container_page %}
{% endblock %}